@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Felipa&display=swap');

html {
    background-color: #222222;
    color: white
}

header {
    font-family: Felipa, serif;
}

.logo {
    height: min(10vw, 10vh);
    aspect-ratio: 1;
    margin: 0;
}

.red {
    color: red;
}

.g-recaptcha {
    width: fit-content;
    margin: 1px;
    border: 1px solid transparent;
}

.red-border {
    border: 1px solid red;
}

iframe {
    margin: 1px;
}

iframe:focus-visible {
    outline: none;
}